section {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 82vh;
  margin: 14vh auto 0;
  border-radius: 10px;
  overflow-x: hidden;
}
.icons {
  display: flex;
}
.loop {
  display: flex;
}
.span {
  background-color: white;
  position: relative;
  top: 5%;
  left: 45%;
  transform: translate(-50%, 0%);
  height: 144px;
  width: 144px;
  /* margin-left: 1px; */
  /* padding-left: 12px; */
  /* padding-top: 10px; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  animation: move 15s linear infinite;
}
section img {
  width: 150px;
  height: 250px;
}
@keyframes move {
  0% {
    top: 5%;
    left: -55%;
    transform: translate(-50%, 0%);
  }
  100% {
    top: 5%;
    left: 45%;
    transform: translate(-50%, 0%);
  }
}
.slider-wrapper {
  width: 760px;
  margin: auto;
}
.slick-slide {
  text-align: center;
  position: relative;
}
.card-body {
  background: #fcead9 !important;
  border: 0.5px solid transparent;
}
.slick-slide:focus {
  outline: none;
}
.slick-slide-title {
  text-transform: capitalize;
}
.slick-slide-image {
  max-width: 100% !important;
  height: auto;
}
.slick-slide-label {
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0px;
  font-size: 1.5em;
  bottom: 0px;
  width: 100%;
}
.active {
  background: #ee801e;
}
.text-blue {
  color: #051233;
}
.slick-prev:before,
.slick-next:before {
  color: #777777;
}
.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}
table.table-bordered > tbody > tr > td {
  border-right: 1px solid #ee801e !important;
}
